/* ====== Advantage section ====== */
.advantag__list {
  display: flex;
}

.advantag__item {
  min-width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.advantag-wrap {
  @include centeredFlex();
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--secondary-bg-cl);
}

.advantag__subtitle {
  margin-bottom: 10px;

  @include fonts(700, 14px, 1.14, 0.03em);

  color: var(--secondary-txt-cl);
}
/* ====== /Advantage section ====== */
